@import "reset.css";

@font-face {
 font-family: 'Menoe Grotesque Pro';
 font-weight: normal;

 src: url(../fonts/Menoe-Grotesque-Pro-Regular.otf)
 format('opentype');
}

@font-face {
 font-family: 'Menoe Grotesque Pro Italic';
 font-weight: normal;

 src: url(../fonts/Menoe-Grotesque-Pro-Italic.otf)
 format('opentype');
}

body {
  background: #000000;
  overflow: hidden;
  font-family: 'Menoe Grotesque Pro';
}

canvas {
  display: block;
  /* margin: 0 auto 0 auto; */
  margin-left: -75vw;
  margin-top: -30vw;
}

h1 {
color: #FF00FF;
font-size: 50px;
position: absolute;
left: 5vw;
top: 5vw;
}

h2 {
font-family: 'Menoe Grotesque Pro Italic';
color: #FF00FF;
font-size: 80px;
position: absolute;
right: 5vw;
bottom: 4vw;
}

a {
  color: #FF00FF;
  font-size: 25px;
  margin-left: 5vw;
  text-decoration: none;
  padding-top: 5vw;
}

a:hover {
  text-decoration: line-through;
}

.listmenu {
  margin-top: 20vw;
  display: none;
  padding-right: 50vw;
}


.menu {
  position: absolute;
  right: 5vw;
  top: 5vw;
  width: 44px;
}

.cross {
  position: absolute;
  right: 5vw;
  top: 5vw;
  width: 44px;
  display: none;
}

@media (min-width: 768px) {
  canvas {
    margin: 0 auto 0 auto;
    margin-top: 15vw;
    margin-left: -10vw;
  }

  h1 {
  font-size: 120px;
  top: 8vw;
  }

  h2 {
  font-size: 200px;
  bottom: 0vw;
  }

  .menu {
    display: none;
  }

  .listmenu {
    display: flex;
    margin: 3vw auto 5vw auto;
    padding-right: 0vw;
  }

  a {
    padding-top: 0vw;
    margin-right: 5vw;
  }

  .main {
    text-decoration: line-through;
  }
}

@media (min-width: 1024px) {

  canvas {
    margin: -5vw auto 0 auto;
  }

  h2 {
  font-size: 250px;
  bottom: 0vw;
  }

}
